.contenedorUbicacion {
    display: grid;
    grid-template-areas: "encabezado" "seccion" "pie";
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 12fr 1fr;
}

.header {
    grid-area: encabezado;
}

.main {
    grid-area: seccion;
}

.footer {
    grid-area: pie;
}

.contenedorContacto {
    display: grid;
    grid-template-areas: "encabezado" "seccion" "pie";
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 12fr 1fr;
}

.header {
    grid-area: encabezado;
}

.main {
    grid-area: seccion;
}

.footer {
    grid-area: pie;
}